.topheader{
    position: fixed;
    box-shadow: 0 5px var(--navbar-shallow-color);
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}
 /* logo */
.logo img{
    border-radius: 10%;
}

/* Menu */
.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
    align-items: center;
}

.menu a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    
}

.open-menu,
.close-menu{
    display: none;
}

@media (max-width: 950px) {
   /* Menu */
.menu{
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    height: 100%;
    overflow-y:auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

.menu li{
    padding: 0 ;
   
}

.menu a{
    color: var(--text-color-inverse);
   
    line-height: 60px;
}

.open-menu,
.close-menu{
    display: block;
    border: none;
    background: none;
    cursor: pointer;

}

.close-menu{
    align-self: flex-end;
    padding: 55px 15px;
}

.menu-opened{
    opacity: 1;
    pointer-events: all;
}

.open-menu:focus:not(:focus-visible),
.close-menu:focus:not(:focus-visible){
    outline: none;
}

}

